html {
    background-color: rgb(32, 32, 32);
    font-family: "roboto", sans-serif, "consolas";
    margin-top: 10vw;
    text-align: center;
    color: lightgray;
}

h1 {
    font-size: 155px;
    animation: popUp 2s ease-out, popUp2 1s ease-out;
}

@keyframes popUp {
    from {
        opacity: 0;
    }

    to {}
}

@keyframes popUp2 {
    from {
        transform: scale(0.5);
    }

    to {}
}

button {
    font-family: "roboto", sans-serif, "consolas";
    font-size: 24px;
    margin-right: 10px;
    border-radius: 10px;
    border: hidden;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 6px 10px;

    animation: popUp 2s ease-out;

}

button:hover {
    background-color: white;
    color: grey;
    border-color: white;
}
